.bold {
  font-weight: bold;
  margin-right: 25px;
}

mat-expansion-panel-header {
  padding: 20px;
  height: auto!important;
}

.mat-expanded {
  height: auto!important;
}

.topic {
  margin-right: 5px;
}

.topic-list {
  padding: 10px;
}

.mat-expansion-panel {
  box-shadow: 0 3px 1px -2px rgba(255, 0, 0, 0.2),
              0 2px 2px 0 rgba(0, 0, 0, 0.2),
              0 3px 5px 0 rgba(254, 203, 81, 0.5)!important;
}
