<button class="nav-Menu" mat-icon-button [matMenuTriggerFor]="menu">
  <mat-icon>more_vert</mat-icon>
</button>

<mat-menu #menu="matMenu" [overlapTrigger]="false">

    <button mat-menu-item [routerLink]="['home']" routerLinkActive="active">
      <mat-icon>home</mat-icon>
      <span>Inicio</span>
    </button>

    <button mat-menu-item [routerLink]="['/profile']" routerLinkActive="active">
      <mat-icon>person</mat-icon>
      <span>Perfil</span>
    </button>

    <button mat-menu-item (click)="login()" *ngIf="!auth.isAuthenticated()">
      <mat-icon>near_me</mat-icon>
      <span>Login</span>
    </button>

    <button mat-menu-item *ngIf="auth.isAuthenticated()" (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>
      <span>Salir</span>
    </button>

    <button mat-menu-item *ngIf="profileService.admin" [matMenuTriggerFor]="Admin">
      <mat-icon>settings</mat-icon>
      <span>Admin</span>
    </button>

</mat-menu>

<mat-menu #Admin="matMenu">
 <button [routerLink]="['admin/organization']" routerLinkActive="active"
         mat-menu-item><mat-icon>store</mat-icon>Organización
 </button>
</mat-menu>
