<div class="animated slideInLeft">
  <div class="row">
    <h2>La votación hecha fácil</h2>

    <p class="flow-text">"<span class="bold">{{ title }}</span>" está pensado
      para ayudar a entidades a crear eventos y hacer un seguimiento usando un sistema de
      votaciones simple y divertido!</p>
  </div>
    <div class="row center steps">
      <div class="col s12 m4 l4">
        <p class="bold">Regístrate</p>
          <mat-icon (click)="login()">check</mat-icon>
          <p>Registra tu entidad y en pocas horas podrás disfrutar de nuestro servicio gratuito.</p>
      </div>
      <div class="col s12 m4 l4">
        <p class="bold">Crea</p>
          <mat-icon>edit</mat-icon>
          <p>Crea los eventos que quieras relacionados con tu entidad y asigna encuestas a ellos.</p>
      </div>
      <div class="col s12 m4 l4">
        <p class="bold">Invita</p>
          <mat-icon>group_add</mat-icon>
          <p>Invita a otros usuarios a votar y descubre opiniones del evento de manera rápida.</p>
      </div>
    </div>

    <div class="center top">
      <h3>
        <span class="ivot">"</span>Votar no debería ser cada 4 años<span class="ivot">"</span>
      </h3>
      <br>
    </div>

</div>
