.bold {
  font-weight: bold;
}

.example-radio-group {
  display: inline-flex;
  flex-direction: row;
}

.example-radio-button {
  margin: 5px 25px;
}

.poll-option {
  font-size: 1.1em;
  font-weight: bold;
  color:black;
}

button {
  margin: 10px;
}

.actions {
  margin-bottom: 5px;
}
