.bold {
  font-weight: bold;
}

.example-radio-button {
  margin: 5px 15px;
}

.text-left {
  text-align: left;
  padding-left: 40px;
}

.poll-option {
  font-size: 1.1em;
  font-weight: bold;
  color:black;
  margin-left: 2em;
}

button {
  margin: 10px;
}

.actions {
  margin-top: 0;
  margin-bottom: 0;
}
