<div class="animated fadeIn">
    <p class="intro">Hola! Acabas de ingresar a <span class="ivot">iVot</span> usando un sistema
      seguro como <a target="_NEW" href="https://auth0.com">Auth0</a>.
    </p>
    <p>
      Sin embargo, en necesario disponer de un perfil de <span class="ivot">iVot</span>
      para que puedas ser invitado y así poder votar!
    </p>
    <br>
        <h5>Nuevo Usuario
          <mat-icon (click)="openNewUser()" class="add-button">person_add</mat-icon>
        </h5>
</div>
