.add-button, .see-result {
  position: relative;
  margin-left: 15px;
  margin-top: -3px;
  top: 5px;
  color: orange;
}

.add-option {
  font-size: 1.1em;
  font-style: italic;
}

.add-button:hover {
  cursor: pointer;
  filter: brightness(1.1);
}

.see-result:hover {
  cursor: pointer;
  transform: rotate(10deg);
  filter: brightness(1.1);
}

.result {
  margin-top: 15px;
}

.no-topic {
  margin-top: 20px;
}
