<div class="row animated slideInRight">
    <h2>Registro para entidades</h2>

    <p>Si representas a una entidad y quieres empezar a utilizar <span class="locktite">iVot</span>,
      simplemente tienes que ponerte en contacto con nosotros. En menos de 24h ya podrás utilizar
      nuestro servicio, porque <span class="locktite">Votar</span> no debería ser cada 4 años.
    </p>

    <div class="col s12 m6 offset-m3">
        <a href="mailto:email@echoecho.com?subject=SweetWords&body=Please
        send me a copy of your new program!">
            <br><br>
            <button class="button-2" mat-raised-button color="primary">Contacta</button>
        </a>
    </div>


</div>
