.events-list {
    padding: 10px;
    margin-bottom: 20px;
}

.title {
    font-weight: bold;
    color: orange;
}

.orange {
    margin: 0 auto;
}

mat-panel-title {
  width: 70%;
}

mat-expansion-panel-header {
  padding: 10px 20px;
}

.actions {
  margin-bottom: 5px;
}
