<div class="col s12 m12 events-list">
    <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title [ngClass]="{'title': panelOpenState == true}">
                    {{event.name}}
                </mat-panel-title>
                <mat-panel-description>
                    {{event.eventDate}}
                </mat-panel-description>
            </mat-expansion-panel-header>
            {{event.description}}
            <div class="center actions">
              <button class="btn" (click)="goEvent(event)">
                <mat-icon class="add">event_available</mat-icon>
              </button>
              <button class="btn" (click)="editEvent(event)">
                <mat-icon class="edit">border_color</mat-icon>
              </button>
              <button class="btn" (click)="deleteEvent(event)">
                <mat-icon class="erase">delete</mat-icon>
              </button>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</div>
