.add-button {
  color: orange;
  font-size: 1.5em;
  position: relative;
  bottom: 0;
  top: 10px;
  left: 18px;
}

.add-button:hover {
  cursor: pointer;
  filter: brightness(1.2);
}

h5 {
  margin-top: 0;
}

.arrow {
  display: inline-flex;
  vertical-align: bottom;
  color: orange;
  margin: auto 5px;
}

.event p {
  margin: 25px auto;
}

.name {
  font-size: 1.1em;
  font-weight: bold;
}

.profile {
  margin-top: -5px;
}
