<div class="row top">
  <div class="col s12 m12">
    <span class="add-option">Nueva Opción</span>
    <mat-icon (click)="openNewOption()" class="add-button">library_add</mat-icon>

    <div class="result" *ngIf="optionService.options">
        <div *ngIf="optionService.options.length >= 1">
            <span class="add-option">Resultados</span>
            <mat-icon class="see-result">near_me</mat-icon>
        </div>

        <div *ngIf="optionService.options">
          <p class="no-topic" *ngIf="optionService.options.length == 0">
            Este tópico aún no tiene opciones.
          </p>
        </div>
    </div>
  </div>
</div>

<div *ngIf="optionService.options">
  <option-table *ngIf="!optionService.options.length == 0" [options]="optionService.options"></option-table>
</div>
