<div class="row" id="top">
  <h3>Registra una Entidad</h3>
  <div class="col s12 m12 l12">
    <div class="card">     <!-- DATA FORM -->
      <div class="card-content">
        <form #addEntityForm="ngForm" (ngSubmit)="addEntity(addEntityForm)">
            <div class="row">

              <input type="hidden" name="id"
              #_id="ngModel" [(ngModel)]="entityService.selectedEntity.id">

              <div class="input-field col s12 m12 l6">
                <span class="helper-text bold">Nombre Entidad</span>  <!-- Entity Name -->
                <input type="text" name="name" class="validate"
                #name="ngModel" [(ngModel)]="entityService.selectedEntity.name"
                placeholder="Introduce un nombre">
              </div>

              <div  *ngIf="!entityService.selectedEntity.id" class="input-field col s12 m12 l6">
                <span class="helper-text bold">Password Entidad</span>  <!-- Entity Password -->
                <input type="text" name="password" class="validate"
                #password="ngModel" [(ngModel)]="entityService.selectedEntity.password"
                placeholder="Introduce un password">
              </div>

              <div class="input-field col s12 m12 l6">
                <span class="helper-text bold">Dirección</span>  <!-- Entity Address -->
                <input type="text" name="address" class="validate"
                #address="ngModel" [(ngModel)]="entityService.selectedEntity.address"
                placeholder="Introduce una dirección">
              </div>

              <div class="input-field col s12 m12 l6">
                <span class="helper-text bold">Email</span>  <!-- Entity Email -->
                <input id="email" type="email" name="email" class="validate"
                #email="ngModel" [(ngModel)]="entityService.selectedEntity.email"
                placeholder="Introduce un email">
              </div>

              <div class="input-field col s12 m12 l6">
                <span class="helper-text bold">Icono</span>  <!-- Entity Icon -->
                <input type="text" name="icon" class="validate"
                #icon="ngModel" [(ngModel)]="entityService.selectedEntity.icon"
                placeholder="Introduce un icono">
              </div>

              <div class="input-field col s12 m12 l12">
                <span class="helper-text bold">Descripción</span>  <!-- Entity Description -->
                <input type="text" name="description" class="validate"
                #description="ngModel" [(ngModel)]="entityService.selectedEntity.description"
                placeholder="Introduce una descripción">
              </div>

              <br>
              <div class="card-action">
                  <div class="input-field col s12 m12 l12 center actions">
                    <button type="submit" class="btn orange">Guardar</button>
                    <button (click)="resetForm($event, addEntityForm)"class="btn green">Reset</button>
                  </div>
              </div>

            </div>
        </form>
      </div>
    </div>
  </div>

</div>
<!-- ENTITY TABLE -->
<div class="row bottom">
  <br>
  <h3>Lista de Entidades</h3>
  <br>
  <div class="col s12 m12">
  <table class="centered striped">
    <thead>
      <th class="center">Entidad</th>
      <th class="center">Admin</th>
    </thead>
    <tbody>
      <tr *ngFor="let entity of entityList">
        <td>{{entity.name}}</td>
        <td>
          <a href="admin/entity#top"><mat-icon (click)="updateEntity(entity)">edit</mat-icon></a>
          <mat-icon (click)="deleteEntity(entity.id)">delete</mat-icon>
        </td>
      </tr>
    </tbody>
  </table>
  </div>
</div>
