.entity-name {
  text-transform: uppercase;
}

.profile-picture{
  border-radius: 4px;
  margin-top: 5px;
}
.card-action {
  text-align: right;
}

blockquote {
  font-size: 1.2em;
}

.margin {
  margin: 5px auto;
}
