<h4 class="entity-name">Ciberanium</h4>

<div class="row">
    <div class="col s12 m8">

        <blockquote>
            El Edificio Media-TIC es una innovadora construcción destinada a servir de punto de encuentro para empresas y profesionales, dentro del proyecto de desarrollo tecnológico centrado en las nuevas tecnologías y el conocimiento ubicado en el distrito 22@
            de Barcelona.
        </blockquote>

    </div>

    <div class="col s12 m4">
        <img src="../../../../assets/image/ciberanium.jpg" class="profile-picture responsive-img">
    </div>

</div>
<!-- Row -->
<br>

<h5>Eventos</h5>

<div class="row">
    <entity-events></entity-events>
</div>

<br><br>

<div class="row">
    <create-event></create-event>
</div>