<div class="overflow">
  <h5>Editar Tópico</h5>
  <br>
    <form #editEventForm="ngForm" (ngSubmit)="onSubmit(editEventForm)">
      <div class="row">

          <input type="hidden" name="id" [(ngModel)]="data.topic.id" #id="ngModel">

          <div class="input-field col s12 m12">
            <i class="material-icons prefix">assignment</i>
            <input name="description" type="text"
            [(ngModel)]="data.topic.description" #description="ngModel"
            data-length="50" maxlength="50" class="validate"
            placeHolder="Nombre del Tópico" required>

            </div>

          <!-- <div class="input-field col s12 m12">
              <i class="material-icons prefix">image</i>
              <input name="icon" type="text" class="validate"
              [(ngModel)]="data.event.icon" #icon="ngModel" placeHolder="Icono del Evento">
          </div> -->

      </div>

        <div class="col s12 m12 actions">
          <p class="center">
            <button class="waves-effect btn orange" type="submit">EDITAR</button>
          </p>
        </div>

    </form>

</div>
