<div class="container">
    <h5>¿Detrás de <span class="ivot">iVot</span>?</h5>
    <p class="weAre">
      Somos un grupo de <span class="bold">desarolladores</span> que ha estudiado en
      <span class="bold">IT Academy</span>, un plan de <span class="bold color-red">Barcelona Activa</span>
      que prepara a la sociedad para la <span class="bold">próxima evolución</span>
      tecnológica en el campo de <span>IT</span>.
    </p>
    <p>
      Después de unos meses dentro de la academia, decidimos participar
      en un <span class="bold">Hackathon</span>, durante 3 días construimos el esquelo de
      <span class="ivot">iVot</span>.
    </p>
    <p>
      Al finalizar el itinerario de la academia nos quedamos con la espina
      de acabar el proyecto... aquí el resultado.
    </p>
    <br>
    <h5>¿Quiénes somos?</h5>
    <br>

    <div class="row center top">
        <div class="col s6 m6">
            <span class="techno">Front End</span>
          <p class="name bold">Sergio Martínez</p>
          <a target="_NEW" href="https://github.com/snakone"><i class="fa fa-github"></i></a>
        </div>

        <div class="col s6 m6">
          <span class="techno">Back End</span>
          <p class="name bold">José Farfus</p>
          <a target="_NEW" href="https://github.com/JoseFarfus"><i class="fa fa-github"></i></a>
        </div>
    </div>

</div>
