.link-to-login {
    cursor: pointer;
}

.link-to-login:hover {
    text-decoration: underline;
}

.noAuth {
  margin-top: 2.5em;
}

@media (min-width: 600px) {
  .noAuth {
    margin-top: 3.5em;
  }
}


h5 {
  margin: 45px auto;
}
