<div class="container animated slideInLeft">

    <div class="center noAuth" *ngIf="!auth.isAuthenticated()">
        <h3>No estás autentificado,<br> Accede a tu
          <a class="link-to-login" (click)="login()">perfil</a>.
        </h3>
        <br>
        <p>Nos tomamos enserio tu seguridad por eso usamos un sistema seguro
          como <a href="http://auth0.com" class="link-to-login"
          target="_NEW">Auth0</a>.</p>
    </div>

    <div *ngIf="auth.isAuthenticated()">
            <div class="profile">
                <label><i class="glyphicon glyphicon-user"></i> Perfil</label>
                <h3 class="nickname">Bienvenido</h3>
            </div>

      <br>

      <entity-events></entity-events>

      <div class="col s12 m12">
        <br>
          <h5>Registrar Evento
            <mat-icon (click)="openNewEvent()" class="add-button">playlist_add</mat-icon>
          </h5>
          <br>
      </div>
      <br>
    </div>

</div>
