.link-to-login {
    cursor: pointer;
}

.link-to-login:hover {
    text-decoration: underline;
}

.noAuth {
  margin-top: 2.5em;
}

@media (min-width: 600px) {
  .noAuth {
    margin-top: 3.5em;
  }
}

.code {
  margin: 45px auto;
  font-size: 1.4em;
}

label {
  margin-top: -5px;
}

.ivot {
  color:#fecb51;
  font-weight: bold;
}

.server-down {
  margin-top: 25px;
  font-size: 1.2em;
}

.thanks {
  margin-top: 25px;
  font-size: 1.4em;
}
