<div class="container animated slideInLeft">

    <div *ngIf="auth.isAuthenticated()">
        <div class="profile">
          <label><i class="glyphicon glyphicon-user"></i> Perfil</label>
        </div>
      <h4 class="nickname">Bienvenido</h4>
         <div *ngIf="profileService.organization && profileService.participant == 'Organization'">
            <profile-card></profile-card>

            <organization-events></organization-events>
         </div>

         <div *ngIf="profileService.participant == 'User'">
           Aquí puedes ver una lista de los eventos a los que has sido celebremente invitado
         </div>

          <div class="center" *ngIf="!profileService.organization && profileService.participant == 'Organization'">
            Para registrar una <span class="bold">Entidad</span>, contacta con un
            <span class="bold">Administrador</span> y dale el siguiente código, él se encargará del resto!
            <p class="code center"><code>{{profileService.token}}</code></p>
            <p>Muchas gracias por tu interés en <span class="bold">iVot</span>, nos vemos pronto!</p>
          </div>
     </div>

      <div class="center noAuth" *ngIf="!auth.isAuthenticated()">
          <h3>No estás autentificado,<br> Accede a tu
            <a class="link-to-login" (click)="login()">perfil</a>.
          </h3>
          <br>
          <p>Nos tomamos enserio tu seguridad por eso usamos un sistema seguro
            como <a href="http://auth0.com" class="link-to-login"
            target="_NEW">Auth0</a>.</p>
      </div>
</div>
