
mat-icon {
  margin:0 5px;
}

mat-icon:hover {
  color:red;
  cursor: pointer;
}

h3 {
  margin-top:50px;
}

@media (max-width:600px){
  h3 {
    margin-top:20px;
  }
}

.edit {
 min-width: 90px;
}

.card .card-action {
  border-top: 0;
}

.card-content {
  padding-bottom: 0;
}

.actions {
  margin-top: 20px;
  margin-bottom: 5px;
}

.btn {
  margin: 10px;
  padding: 1px 13px;
}

.bottom {
  margin-bottom: 30px;
}
