
mat-icon {
  margin:0 5px;
  vertical-align: middle;
}

mat-icon:hover {
  cursor: pointer;
}

.edit {
 min-width: 90px;
}

.card-panel {
  padding-bottom: 8px;
}

.actions {
  margin-top: 20px;
}

.btn {
  margin: 5px;
  padding: 1px 12px;
}

.bottom {
  margin-bottom: 30px;
}

.blue-color {
  color: #039be5;
}

h4 {
  margin-bottom: 20px;
}

i:not(.black-icon)  {
 margin: 0 auto;
 margin-top:10px;
 color:orange;
}

.image {
  margin-bottom: 10px;
}

.top {
  margin-top: 0;
}

.text-right {
 position: relative;
 top: 15px;
 text-align: right;
}

input[type=text]:not(.browser-default) {
  margin: 10px auto;
}

input[type=email]:not(.browser-default) {
  margin: 10px auto;
}

input[type=file]:not(.browser-default) {
  margin: 10px auto;
}
