
mat-icon {
  margin:0 5px;
}

mat-icon:hover {
  color:red;
  cursor: pointer;
}

.edit {
 min-width: 90px;
}

.card-panel {
  padding-bottom: 8px;
}

.actions {
  margin-top: 20px;
}

.btn {
  margin: 10px;
  padding: 1px 12px;
}

.bottom {
  margin-bottom: 30px;
}

h4 {
  margin-bottom: 20px;
}

i:not(.black-icon)  {
 margin: 0 auto;
 margin-top:10px;
 color:orange;
}

.text-right {
 position: relative;
 top: 15px;
 text-align: right;
}

.input-field {
 margin-top: 10px;
}
