<div class="row">
  <h5>Registrar Evento</h5>

    <form #addEventForm="ngForm" class="col s12 margin-top" (ngSubmit)="addEvent(addEventForm)">
        <div class="row">

            <input type="hidden" name="id" [(ngModel)]="profileService.organization.id" #id="ngModel">
            <input type="hidden" name="auth" [(ngModel)]="profileService.token" #auth="ngModel">

            <div class="input-field col s12 m12">
                <i class="material-icons prefix">assignment</i>
                <input name="name" type="text"
                [(ngModel)]="selectedEvent.name" #name="ngModel" data-length="25" maxlength="25">
                <label for="name">Nombre del Evento</label>
            </div>

            <div class="input-field col s12 m12">
                <i class="material-icons prefix">description</i>
                <textarea name="description" class="materialize-textarea"
                data-length="120" maxlength="120" [(ngModel)]="selectedEvent.description"
                #description="ngModel"></textarea>
                <label for="description">Descripción</label>
            </div>

            <div class="input-field col s12 m12">
                <i class="material-icons prefix">image</i>
                <input name="icon" type="text"
                [(ngModel)]="selectedEvent.icon" #icon="ngModel">
                <label for="name">Icono del Evento</label>
            </div>

            <div class="input-field col s12 m12 margin-top">
                <i class="material-icons prefix">watch_later
                    </i>
                <mat-datepicker-toggle class="right" matSuffix [for]="picker"></mat-datepicker-toggle>
                <input name="eventDate" matInput [matDatepicker]="picker"
                [(ngModel)]="selectedEvent.eventDate" #eventDate="ngModel" placeholder="Elige una fecha">
                 <mat-datepicker touchUi class="datepicker" #picker> </mat-datepicker>
            </div>

            <!-- <div class="file-field input-field">
                <div class="btn orange right">
                    <span>File</span>
                    <input type="file">
                </div>
                <div class="file-path-wrapper">
                    <input name="picture" class="file-path validate" style="margin-top: 25px;" placeholder="Sube tu foto" type="text">
                </div>
            </div> -->

            <br><br>

        </div>
          <div class="center">
            <button type="submit" mat-button class="btn orange">CREAR</button>
          </div>
    </form>

</div>
