.right {
    position: absolute;
    right: 5px;
    bottom: 25px;
}

.input-field {
  margin-top: 0;
  padding: 0;
}

.bottom {
  margin-top: 5px;
  margin-bottom: 15px;
}

.actions {
  margin-top: 15px;
}

i {
  margin: 0 auto;
  margin-top:10px;
  color:orange;
}

.file-path-wrapper {
    margin-top: 25px;
}

.materialize-textarea {
  padding: 10px 0;
}

mat-datepicker {
  color: red;
}

h5 {
  margin-bottom: 25px;
}

button {
  margin-bottom: -10px;
}
