.right {
    position: absolute;
    right: 5px;
    bottom: 25px;
}

.margin-top {
    margin-top: 25px;
    padding: 0;
}

i {
  margin: 0 auto;
  margin-top:10px;
  color:orange;
}

.file-path-wrapper {
    margin-top: 25px;
}

.orange {
    margin-bottom: 5px;
}

.margin-top {
    margin-top: 20px;
}

mat-datepicker {
  color: red;
}

.cdk-overlay-connected-position-bounding-box {
  left: 50px;
}

.input-field {
  padding: 0!important;
}
