.icon {
  margin: 20px auto;
  max-width: 90%;
  border-radius: 4px;
  border: 2px solid #fecb51;
}

@media (min-width: 600px){
  .icon {
    max-width: 80%;
  }

  .info {
    margin-top: 15px;
  }
}

.description {
  margin-top: 25px;
}

.commets {
  font-size: 1.3em;
}
