<div *ngIf="profileService.organization">
    <div class="row">
      <div class="col s12 m6 info">
          <p><span class="bold">Nombre: </span>{{profileService.organization.name}}</p>
          <p><span class="bold">Dirección: </span>{{profileService.organization.address}}</p>
          <p><span class="bold">Email: </span>{{profileService.organization.email}}</p>
          <p class="description"><span class="commets bold">"</span>{{profileService.organization.description}}<span class="commets bold">"</span></p>
      </div>
      <div class="col s12 m6 center">
          <img class="icon" *ngIf="profileService.organization"
          [src]="profileService.organization.icon"/>
      </div>
    </div>
</div>
