/* You can add global styles to this file, and also import other style files */


/* Bg Color: #fecb51 */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "node_modules/materialize-css/dist/css/materialize.min.css";

@import "~ngx-toastr/toastr.css";

body {
    margin: 0 auto;
    font-family: 'Comfortaa', cursive;
    width: 100%;
    height: 100%;
}

.bold {
  font-weight: bold;
}
