.bold {
  font-weight: bold;
  margin-right: 25px;
}

mat-expansion-panel-header {
  padding: 20px;
  height: auto!important;
}

.mat-expanded {
  height: auto!important;
}

.question {
  margin-right: 5px;
}

.poll-list {
  padding: 10px;
}
