<div class="row center" *ngFor="let poll of eventService.pollList; let i = index">
  <div class="col s12 m12" *ngIf="eventService.pollList">
      <mat-accordion>
        <mat-expansion-panel class="margin" (opened)="panelOpenState = true;"
                           (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title [ngClass]="{'opened': panelOpenState == true}">
            <span class="bold">Pregunta:</span> {{ poll.question}}
          </mat-panel-title>
        </mat-expansion-panel-header>
<br>
        <poll-questions [poll]="poll" [i]="i"></poll-questions>

        </mat-expansion-panel>
      </mat-accordion>
  </div>
</div>

<div *ngIf="eventService.pollList.length == 0">
  <p>Parece ser que aún no hay Temas</p>
</div>
