  <div class="col s12 m12 poll-list">
      <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true;"
                           (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title [ngClass]="{'opened': panelOpenState == true}">
            <span class="bold">Pregunta:</span>
            <span class="question">{{ poll.question}}</span>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <poll-questions [poll]="poll" [i]="i"></poll-questions>

        </mat-expansion-panel>
      </mat-accordion>
  </div>


<div *ngIf="eventService.pollList.length == 0">
  <p>Parece ser que aún no hay Temas</p>
</div>
