<div class="overflow">
  <h5>Registrar Tema</h5>
  <br>
    <form #addPollForm="ngForm" (ngSubmit)="onSubmit(addPollForm)">

      <div class="row">
          <div class="input-field col s12 m12">
            <i class="material-icons prefix black-icon">help_outline</i>
            <input name="question" type="text"
            [(ngModel)]="selectedPoll.question" #question="ngModel"
            data-length="40" class="validate" required>
            <label for="question">Pregunta *</label>
            </div>

            <div *ngFor="let option of defaultOptions; let i = index" class="input-field col s12 m12">
              <i class="material-icons prefix">poll</i>
              <input name="{{i}}" type="text"
              [(ngModel)]="option.optionID" #option="ngModel"
              class="validate" required>
              <label for="{{i}}">Opción {{i+1}} *</label>
            </div>

          <!-- <div class="input-field col s12 m6">
            <i class="material-icons prefix">poll</i>
            <input name="option1" type="text"
            [(ngModel)]="pollOption1" #option1="ngModel"
          class="validate" required>
            <label for="option1">Opción 1 *</label>
          </div>

          <div class="input-field col s12 m6">
            <i class="material-icons prefix">poll</i>
            <input name="option2" type="text"
            [(ngModel)]="pollOption2" #option2="ngModel"
           class="validate" required>
            <label for="option2">Opción 2 *</label>
          </div>

          <div class="input-field col s12 m6">
            <i class="material-icons prefix">poll</i>
            <input name="option3" type="text"
            [(ngModel)]="pollOption3" #option3="ngModel"
             class="validate">
            <label for="option3">Opción 3</label>
          </div>

          <div class="input-field col s12 m6">
            <i class="material-icons prefix">poll</i>
            <input name="option4" type="text"
            [(ngModel)]="pollOption4" #option4="ngModel"
             class="validate">
            <label for="option4">Opción 4</label>
          </div> -->
      </div>

        <div class="col s12 m12 actions">
          <p class="center">
            <button class="waves-effect
            btn orange" type="submit">Registrar</button>
          <button (click)="addQuestion($event)" class="btn green">+</button></p>
        </div>

    </form>

    <p class="text-right">* Obligatorio</p>

</div>
