<div class="container">
    <div>
        <div class="profile">
            <label>Perfil
              <mat-icon class="arrow">arrow_right_alt</mat-icon> Evento
              <mat-icon class="arrow">arrow_right_alt</mat-icon> Temas</label>

            <h4 class="nickname">Temas</h4>
        </div>

        <div>
            <h5>Nuevo Tema
              <mat-icon (click)="openNewPoll()" class="add-button">playlist_add</mat-icon>
            </h5>
            <br>
        </div>
    </div>
      <div class="row">
        <event-poll [poll]="poll" [i]="i" *ngFor="let poll of eventService.pollList; let i = index" ></event-poll>
      </div>

      <div *ngIf="eventService.pollList.length == 0">
        <p>Parece ser que aún no hay Temas</p>
      </div>
      <br>
</div>
