<div class="container animated slideInLeft">
        <div>
            <label>Perfil
              <mat-icon class="arrow">arrow_right_alt</mat-icon> Evento</label>
        </div>

        <div *ngIf="event">
          <h4>{{event.name}}</h4>
          <p><span class="bold">Fecha:</span> {{event.eventDate}}</p>
          <p class="bottom"><span class="bold">Descripción:</span> {{event.description}}</p>

            <div>
                <h5>Tópicos
                  <mat-icon (click)="openNewTopic()" class="add-button">playlist_add</mat-icon>
                  <span *ngIf="topicService.topics">
                    <mat-icon [ngClass]="{'animated pulse slower infinite delay-2s': search == true}"
                  (click)="openSearch()" *ngIf="!topicService.topics.length == 0"
                   class="search-button search">search</mat-icon></span>
                </h5>
                <div *ngIf="search" id="animated" class="col s12 m12 animated bounceInLeft slow search search-bar">
                    <div class="input-field center">  <!-- Key Up Event -->
                        <input type="text" name="searchValue"
                        (keyup)="onKeyUp($event)" [(ngModel)]="searchValue"
                        placeHolder="Nombre del Tópico">
                    </div>
                </div>
            </div>

            <div *ngIf="topicService.topics">
              <p *ngIf="topicService.topics.length == 0">
                Parece ser que aún no hay <span class="bold">tópicos</span>.
              </p>
            </div>

            <div *ngIf="topicService.filteredTopics && search">
              <p *ngIf="topicService.filteredTopics.length == 0" class="no-topics">
                Ningún <span class="bold">tópico</span> coincide con tu búsqueda.
              </p>
            </div>

            <div *ngIf="topicService.topics">
              <event-topic *ngFor="let topic of topicService.filteredTopics |
                                   paginate: { itemsPerPage: 5, currentPage: p }" [topic]="topic">
              </event-topic>
                <div *ngIf="topicService.filteredTopics">
                    <pagination-controls *ngIf="!topicService.filteredTopics.length == 0"
                                         class="center Pages" (pageChange)="p = $event"
                                         previousLabel="Anterior" nextLabel="Siguiente">
                    </pagination-controls>
                </div>
            </div>

            <div>
                <h5 class="participants">Participantes
                  <mat-icon (click)="openInviteParticipant()" class="add-participant">person_add</mat-icon>
                </h5>
            </div>

            <div *ngIf="participant.participants">
              <span *ngIf="participant.participants.length == 0">
                Aún no hay participantes.</span>
            </div>

            <div *ngIf="participant.participants">
              <event-participant *ngIf="!participant.participants.length == 0"></event-participant>
            </div>
        </div>
</div>

<br>
